---
---

@import "palettes";
@import "theme";
@import "mixins";

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  margin: 10px 0;
  @include trim-v-margins;

  .tag {
    max-width: 100%;
    padding: 5px 10px;
    border-radius: 999px;
    color: $white;
    background: $light-accent;
    text-decoration: none;
    overflow: hidden;
    text-overflow: rectangle;
    white-space: nowrap;
    transition: background $fast;

    &:hover,
    &[data-active="true"] {
      background: $gray-600;
    }

    &[data-highlight="true"] {
      background: $accent;
    }
  }
}
